<template>
  <div class="sm:w-2/3 m-auto md:h-screen flex items-center justify-center px-12">
  <div class="container bg-white md:container md:mx-auto">
    <div class="text-4xl font-bold from-current mb-8 mt-8 p-5 text-center flex items-center mx-auto justify-center">
      <div v-if="pokemon.id > 1">
        <NuxtLink :to="'/detail/'+(pokemon.id-1)">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </NuxtLink>
      </div>
      <div>
        <span class="capitalize text-red-600">{{ pokemon.name }}</span> <span class="text-gray-700">#{{ pokemon.id }}</span>
      </div>
      <div v-if="pokemon.id < 150">
        <NuxtLink :to="'/detail/'+(pokemon.id+1)">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </NuxtLink>
      </div>
    </div>
    <div class="sm:grid sm:grid-cols-2 lg:grid-cols-3 gap-4 space-y-4 sm:space-y-0">
      <div>
      <img :alt="pokemon.name+'.png'" :src="pokemon.sprites.other['official-artwork'].front_default">
      </div>
      <div class="md:h-full md:flex alignCenter">
          <div class="p-5">
            <h1 class="text-red-600 text-3xl font-bold from-current mb-8">Information</h1>
              <p> <span class="text-gray-700 text-lg">Weight: </span>{{ pokemon.weight }}</p>
              <p> <span class="text-gray-700 text-lg">Height: </span>{{ pokemon.height }}</p>
              <p> <span class="text-gray-700 text-lg">Type: </span>{{ pokemon.type }}</p>
              <p> <span class="text-gray-700 text-lg">Abilities : </span>{{ pokemon.ability }} </p>
          </div>
      </div>
      <div class="md:h-full md:flex alignCenter">
        <div class="p-5">
          <h1 class="text-3xl text-red-600 font-bold from-current mb-8">Stats</h1>
          <ul>
            <li v-for="(stat) in pokemon.stats" :key="stat.stat.name">
              <span class="text-gray-700 text-lg capitalize">{{stat.stat.name}} :</span> {{stat.base_stat}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<style>
.alignCenter {
  align-items: center;
  justify-content: center;
}
</style>

<script>
  export default {
    head() {
      return {
        title: 'Detail',
        meta: [
          {
            hid: 'Detail',
            name: 'Detail',
            content: 'Detail of a pokemons'
          }
        ]
      }
    },
    async asyncData({ params, $axios }) {
      const pokemon = await $axios.$get(`https://pokeapi.co/api/v2/pokemon/${params.id}`)
      pokemon.type = pokemon.types.map(type => type.type.name).join(", ");
      pokemon.ability = pokemon.abilities.map(ability => ability.ability.name).join(", ");
      return { pokemon }
    },
    validate({ params }) {
      if (!isNaN(params.id) && (params.id >= 1 && params.id <= 150)) {
        return true
      }
      return false
    },
  }
</script>
