<template>
    <div class="bg-white">
          <div class="shadow-lg hover:shadow-xl transform transition duration-500 hover:scale-105">
            <NuxtLink :to="'/detail/'+id">
              <img class="w-full" :alt="name+'.png'"  :src="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/' + id + '.png'">
              <div class="px-4 py-2">
                <p class="text-xl  mb-1 pl-3 text-left font-gray-700">#{{ id }}</p>
                <p class="text-xl  mb-5 pl-3 text-left font-gray-700">Name : <span class="capitalize">{{ name }}</span></p>
                <div class="mb-5  text-center content-center">
                    <button class="mx-auto bg-red-600 hover:bg-red-700 text-center content-center text-white font-bold py-2 px-4 rounded">Show more</button>
                </div>
              </div>
            </NuxtLink>
          </div>
      </div>
</template>
<style>
  .capitalize {
    text-transform:capitalize;
  }
</style>

<script lang="ts">
export default {
    name: 'Card',
    props: ['name','id','next'],
}
</script>