<template>
    <div class="bg-red-600">
        <div class="container mx-auto px-2">
            <div class="mt-2 flex flex-col items-center">
                <div class="sm:w-2/3 text-center py-2">
                    <p class="text-sm text-white font-bold mb-2">
                        © 2021 by Benoit Commande
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>