<template>
<nav class="flex items-center justify-center flex-wrap bg-red-600 p-3">
  <div class="sm:w-2/3 m-auto">
    <div class="container pl-12 md:container md:mx-auto">
      <div class="flex items-center flex-shrink-0 text-white">
    <NuxtLink :to="'/'">
      <img class="h-10 w-10 mr-10 self-center" :src="require(`~/static/logo.png`)">
    </NuxtLink>
    <NuxtLink :to="'/'">
      <span class="font-semibold text-xl tracking-tight">Pokelist</span>
    </NuxtLink>
  </div>
    </div>
  </div>
</nav>
</template>
