<template>
<div class="bg-gray-100">
      <div class="w-9/12 m-auto py-16 min-h-screen flex items-center justify-center">
        <div class="bg-white shadow overflow-hidden sm:rounded-lg pb-8">
          <div v-if="error.statusCode === 404" class="border-t border-gray-200 text-center pt-8">
            <h1 class="text-9xl font-bold text-red-500">404</h1>
            <h1 class="text-6xl font-medium py-8">oops! Page not found</h1>
            <p class="text-2xl pb-8 px-12 font-medium">Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
            <NuxtLink class="bg-red-600 hover:bg-red-700  text-white font-semibold px-6 py-3 rounded-md mr-6" to="/">Home page</NuxtLink>
          </div>
        <div v-else class="border-t border-gray-200 text-center pt-8">
            <h1 class="text-6xl font-medium py-8">An error occurred</h1>
            <p class="text-2xl pb-8 px-12 font-medium">Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
            <NuxtLink class="bg-red-600 hover:bg-red-700 text-white font-semibold px-6 py-3 rounded-md mr-6" to="/">Home page</NuxtLink>
          </div>
        </div>
      </div>
    </div>
</template>
<script>
  export default {
    props: ['error'],
    layout: 'error' // you can set a custom layout for the error page
  }
</script>
