<template>
<div class="sm:w-2/3  m-auto py-16 min-h-screen">
  <div class="w-full flex justify-center">
    <div class="container mx-auto p-12 bg-gray-100">
      <h1 class="text-4xl text-red-600 font-bold from-current mb-5">Pokédex</h1>
      
      <div class="mb-5 flex">
        <input class="w-9/12 rounded p-2" type="text" placeholder="Search"  @keyup="search($event.target.value)">
        <button @click="orderById(filter.id)" class="mx-auto bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
          <span v-if="filter.id == 2 || filter.id == 0">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
            </svg>
          </span>
          <span class="text-white" v-else>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
            </svg>
          </span>
            id</button>
        <button @click="orderByName(filter.name)" class="mx-auto bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
          <span v-if="filter.name == 2 || filter.name == 0">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4" />
            </svg>
          </span>
          <span class="text-white" v-else>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12" />
            </svg>
          </span>
          name</button>
      </div>
      <div v-if="data.results && data.results.length > 0">
        <div class="sm:grid sm:grid-cols-3 lg:grid-cols-5 gap-4 space-y-4 sm:space-y-0">
            <Card v-for="(pokemon) in data.results" :key="pokemon.id" :data="pokemon.data" :name="pokemon.name" :id="pokemon.id" :next="data.next"/>
        </div>
      </div>
        <div v-else>
          <div class="sm:grid sm:grid-cols-3 lg:grid-cols-5 gap-4 space-y-4 sm:space-y-0">
            No result
          </div>
        </div>
      <div v-if="data.page < 6 && !filter.s" class="grid">
      <button class="mx-auto bg-red-600 hover:bg-red-700 text-white font-bold mt-5 py-2 px-4 rounded" id="test" @click="loadMore(data.next)">Load more</button>
      </div>
    </div>
  </div>
</div>
</template>


<script>
  import Card from '@/components/Card.vue'
  import {mapState} from 'vuex'
  export default {
    components: {
      Card,
    },
    computed: {
      ...mapState(['data', 'filter'])
    },
    data() {
      return {
      }
    },
    head() {
      return {
        title: 'Home',
        meta: [
          {
            hid: 'home',
            name: 'home',
            content: 'List of pokemons'
          }
        ]
      }
    },
    async fetch({ store }) {
      await store.dispatch('loadPokemon')  
    },
    methods:{
      search(s) {
        this.$store.dispatch('search', s)
      },
      async loadMore({store},{link}){
        await this.$store.dispatch('loadMore', {link})

      },
      orderById(value, load = false) {
        this.$store.dispatch('orderById', {value, load})

      },
      orderByName(value, load = false) {
        this.$store.dispatch('orderByName', {value, load})

      },

    },
}
</script>
